.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


:root {
  --gray-800: #2d3748;
  --gray-700: #4a5568;
  --gray-400: #cbd5e0;
  --gray-200: #edf2f7;
  --gray-100: #f7fafc;
  --blue-500: #4299e1;
  --white: white;
  --text-decoration-color: var(--gray-400);
  --text-color: var(--gray-800);
  --focus-ring-color: var(--blue-500);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Form
––––––––––––––––––––––––––––––––– */
label {
  font-weight: bold;
  display: flex;
}

input[type="email"],
input[type="text"],
input[type="number"],
input[type="feedback"],
input[type="crop"] {
  background: white;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  background-color: var(--gray-100);
  color: var(--gray-800);
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--focus-ring-color);
}

input:invalid,
select:invalid,
textarea:invalid {
  border: 2px solid #ff7d87;
  box-shadow: none;
}

input[type="submit"],
button {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  border-radius: 10px;
  background-color: var(--gray-700);
  border: 2px solid var(--gray-700);
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  line-height: initial;
  transition: background-color 200ms ease-in-out, border 200ms ease-in-out,
    transform 200ms ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

@media (hover: hover) {
  input[type="submit"]:hover,
  button:hover {
    cursor: pointer;
    background-color: var(--gray-800);
  }
}

input[type="email"],
input[type="text"],
input[type="number"],
input[type="feedback"],
textarea,
select {
  width: 400px;
}

label {
  margin-top: 1rem;
}

label.checkbox {
  font-weight: normal;
}

button[type="submit"] {
  margin-top: 1rem;
}

/* .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  padding: 10px;
  width: 500px;
  position: relative;
  top: -150px;
  float: right; 
} */

canvas {
  display: grid;
  border: 1px solid black;
  background-color: #61dafb;
  /* padding: 10px; */
  width: 600px;
  height: 600px;
  position: absolute;
  top: 120px;
  left: 500px;
  float: right; 
  border-radius: 5px;
}

/* .grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */
/* 
.sidebar {
  background-color: black;
} */
