body {
  margin: 0;
  background-color: #3B8687;
  font-family:'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

style {
  background-image: 'url("https://camo.githubusercontent.com/e23238aae4cb8c485e6949cea444757d0eb84489018c4e4d487d18b2bb7ab294/68747470733a2f2f7765626772616469656e74732e636f6d2f7075626c69632f7765626772616469656e74735f706e672f313538253230416e67656c253230436172652e706e67")';
}

h2 {
  font-size: 80%;
  color: #0B486B;
}

div {
  font-size: 103%;
}